<div class = "d-flex-column text-center mt-5">
<p>You are logged on to <span class="text-primary">admin@gmail.com</span></p>
    <a class="btn btn-danger align-center" href="/logout" role="button">Log Out</a>
</div>
